<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <main>
            <p>This site was created by <a href="https://www.katieloyd.com">Katie Loyd</a> as an exercise for <a href="https://mead.io">Andrew Mead</a>'s Udemy course</p>
            <p><a href="https://www.udemy.com/share/10007CBUATeFZaQX4=/">The Complete Node.js Developer Course</a></p>
            <p>Data from <a href="https://www.mapbox.com/">Mapbox</a> and <a href="https://darksky.net/">Dark Sky</a>.</p>
        </main>
        {{>footer}}
    </body>
</html>