<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        {{>header}}
        <main>
            <p>Enter a location to return the weather forecast</p>
            <form>
                <input type="text" placeholder="Location">
                <button type="submit">Search</button>
            </form>

            <p id="messageOne"></p>
            <p id="messageTwo"></p>
        </main>
        {{>footer}}

        <script src="/js/app.js"></script>
    </body>
</html>